<!DOCTYPE html>

<head>
    <link rel="icon" href="image/weather.png">
    <title>About Me</title>
    <link rel="stylesheet" href="./css/styles.css" />

</head>

<body>

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/image/nanhe1.jpg">

    </div>

    {{>footer}}


</body>


</html>