<!DOCTYPE html>

<head>
    <title>Help</title>
    <link rel="icon" href="image/weather.png">
<link rel="stylesheet" href="./css/styles.css" />

</head>

<body>
    <div class="main-content">
        {{>header}}
        {{helpText}}

    </div>

    
    {{>footer}}
{{!-- <h1>{{title}} </h1> --}}

</body>


</html>